@page "/counter"

@inject HttpClient http
@using System.Net.Http
@using MessagePack;
@using NewDatasourceTest;
@using System.Net.Http.Json;
<h1>REST API</h1>

<QuickGrid Items="Yubins">
    <PropertyColumn Property="@(c => c.Yubin7)" Sortable="true" />
    <PropertyColumn Property="@(c => c.Todofuken)" Sortable="true" />
    <PropertyColumn Property="@(c => c.City)" Sortable="true" />
    <PropertyColumn Property="@(c => c.Tyo)" Sortable="true" />
    <PropertyColumn Property="@(c => c.Flg1)" Sortable="true" />
    <PropertyColumn Property="@(c => c.Flg2)" Sortable="true" />
    <PropertyColumn Property="@(c => c.Flg3)" Sortable="true" />
</QuickGrid>

@code {
    private IQueryable<Yubin>? Yubins;
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            try {
                var restapi = await http.GetFromJsonAsync<List<Yubin>>(@"https://musewiki.net/YubinAPI/restapi");
                Yubins = restapi!.AsQueryable();
                StateHasChanged();
            }
            catch (Exception ex) {
                Console.WriteLine(ex.Message);
            }
        }
    }
}
